*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    height: 90%;
    width: 100%;
    background-color: black;
}

main{
    width: 320px;
    margin: auto;
    background-image: linear-gradient(to top,  rgb(9, 117, 113),  rgb(17, 171, 166),  rgb(50, 233, 227));
    margin-top: 20px;
    height: auto;
    padding:8px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    
}
main{
    margin-top: 45px;
}
main h2{
    padding: 10px;
    text-align: center;
    color: rgb(181, 54, 255);

 
}
main h2{
   margin-bottom: 6px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


input{
    width:300px;
    height: 26px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
}
input{
    padding-left: 10px;
}
.make-accon input{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}
.new-account input{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}
fieldset{
    padding: 6px;
}
fieldset input{
    margin-top: 6px;
}
fieldset{
    border: none;
}
 button{
    background-color: transparent;
    border: none;
    color: rgb(237, 233, 14);
}
button:hover{
    text-decoration: underline;
    cursor: pointer;
}
input{
    background-color: transparent;
    border: 2px solid rgb(153, 0, 86);
    color: white;
}
.secound-login .orient input{
    width: 16px;
    height: 16px;
    cursor: pointer;
 
}

.orient-sex{
    display: flex;
    justify-content: space-around;
    
}

#isend,#button-a-creat{
    background-color:  rgb(181, 54, 255);
    padding: 2px;
    margin-left: 6px;
    border: none;
}
#isend:hover,#button-a-creat:hover{
    background-color:  rgb(137, 24, 203);
    cursor: pointer;
    color: whitesmoke;
}
.secound-login p, label{
    color: blueviolet;
    margin-bottom: -10px;
}
.secound-login p{
    margin-bottom: 10px;
    font-size: 1.2em;
}
.logout{
    display: none;
}
.none{
    display: none;
}
.block{
    display: block;
}